<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>EMPUG Calendar</title>
    <meta charset='utf-8' />
    <link href="{{ url_for('static', filename='fullcalendar.min.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}" rel='stylesheet' />
    <link href="{{ url_for('static', filename='fullcalendar.print.css') }}" rel='stylesheet' media='print' />
    <script src="{{ url_for('static', filename='lib/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='fullcalendar.min.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">

       <script>

        $(document).ready(function() {

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'today'
                },
                defaultDate: '2019-03-01',
                editable: false,
                fixedWeekCount: false,
                eventLimit: true,
                events: {
                    url: 'data',
                    error: function() {
                        $('#script-warning').show();
                    }
                },
                eventColor: '#378006',
                eventBorderColor: '#010101',
                loading: function(bool) {
                    $('#loading').toggle(bool);
                }
            });

        });

    </script>

    <style>

        body {
            margin: 0;
            padding: 0;
            font-size: 16px;
        }

        #script-warning {
            display: none;
            background: #eee;
            border-bottom: 1px solid #ddd;
            padding: 0 10px;
            line-height: 40px;
            text-align: center;
            font-weight: bold;
            font-size: 12px;
            color: red;
        }

        #loading {
            display: none;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        #calendar {
            max-width: 70%;
            margin: 10px auto;
            padding: 0 10px;
        }

    </style>

  </head>

  <body>
    <div id='calendar' style="font-family:Arial"; height: 80%>
    </div>
  </body>

</html>